<div id="testBBDD">
  <input id="boton" ng type="button" value="INICIAR"  ng-show="!testOk" ng-click="test()"/>
  
  <h1 ng-show="testOk">INFORMACI&Oacute;N DE LA BASE DE DATOS</h1>
  <div ng-show="testOk">
    <ul>
      <li ng-repeat="x in bbdd track by $index">Tabla {{$index}} | {{x.table}}</li>
    </ul>
    
  <label for="sel1">Elige Base de datos:</label>
  <select ng-model="seleccion"  class="form-control" id="sel1"  ng-options="x.table for x in bbdd">
  </select>
   <button ng-click="select(seleccion.table)"  class="btn btn-primary btn-info">Elegir</button>
  </div> 
</div>



